@font-face {
	font-family: "vazir";
	src: url("../fonts/vazir.eot");
	src: url("../fonts/vazir.ttf") format("truetype"), url("../fonts/vazir.woff2") format("woff2"), url("../fonts/vazir.woff") format("woff");
}

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: "vazir";
	direction: ltr;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.wrapper {
	width: 1400px;
}

.wrapper .gallery {
	display: flex;
	flex-wrap: wrap;
}

.wrapper .gallery span {
	display: flex;
	width: 100%;
}

.wrapper .gallery .img {
	width: calc(100% / 3);
	padding: 10px;
	box-sizing: border-box;
	overflow: hidden;
}

.wrapper .gallery .img img {
	width: 100%;
	height: 250px;
	object-fit: cover;
	transition: all 0.3s ease;
  cursor: pointer;

}

.wrapper .gallery .img:hover img {
	transform: scale(1.1);
}

.preview-box {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.9);
	width: 100%;
	max-width: 1200px;
	background: white;
	box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s ease;
  z-index: 100;
}

.preview-box .detail {
	display: flex;
	justify-content: space-between;
	padding: 20px 30px;
}

.preview-box .detail span {
	display: flex;
	font-size: 25px;
}

.preview-box .detail span .fa-times {
	color: rgb(238, 20, 122);
  cursor: pointer;
}

.preview-box .detail span .current-img {
	font-weight: 600;
}

.preview-box .detail span p {
	margin: 0 5px;
}

.preview-box .img-box {
	width: 100%;
	display: flex;
}

.preview-box .img-box img {
	width: 100%;
	height: 700px;
	object-fit: cover;
	position: relative;
}

.preview-box .img-box .slide {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 50px;
	color: #fff;
	z-index: 2;
}

.preview-box .img-box .slide.next {
	right: 40px;
	cursor: pointer;
}

.preview-box .img-box .slide.prev {
	left: 40px;
	cursor: pointer;
}

.preview-box.show {
	opacity: 1;
	pointer-events: auto;
	transform: translate(-50%, -50%) scale(1);
}

.shadow {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}