@font-face {
	font-family: "vazir";
	src: url("../fonts/vazir.eot") format("eot"), url("../fonts/vazir.ttf") format("truetype"), url("../fonts/vazir.woff") format("woff"), url("../fonts/vazir.woff2") format("woff2");
}

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: "vazir";
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.wrapper {
	width: 50%;
	position: relative;
}

.container {
	background: #fff;
	padding: 50px 30px 80px 30px;
	box-shadow: 0 30px 50px rgba(30, 21, 49, 0.3);
	border-radius: 8px;
}

textarea {
	width: 100%;
	border: none;
	outline: none;
	font-family: "vazir";
	font-size: 16px;
	color: #0e101a;
}

.count {
	position: absolute;
	bottom: -45px;
	width: 80%;
	background: #4f0961;
	right: 50%;
	transform: translateX(50%);
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 20px;
}

.count h5 {
	color: #fff;
	font-size: 32px;
	text-align: center;
}

.count p {
	font-size: 20px;
	color: #e2e2e2;
}
